<%- include('partials/header') -%>

<div class="text-center mt-5">
  <i class="fab fa-github fa-4x mt-5"></i>
  <h1 class="m-4">Github Profiles Stalker</h1>
</div>

<div class="container text-center">
  <p class="pt-3">Oh no, you hit the rate limit! Try again later.</p>
</div>

<%- include('partials/footer') -%>
