.userImage {
  object-fit: contain;
  border-radius: 100px;
  width: 150px;
}

.userName {
  font-size: 50px;
}

.userId {
  font-size: 25px;
}

@media (max-width: 998px) {
  .sm-small {
    font-size: 30px;
  }
  .sm-bio {
    font-size: 20px;
  }
  .userName {
    font-size: 35px;
  }
  .userId {
    font-size: 20px;
  }
}